body{

    background-color: #b8e994;
}

#headersection{
    padding: 5px;
}

#headersection h1{
    font-family: cursive;
}

#headersection1{
    padding: 5px;
}

#headersection1 h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
     padding: 10px;
    border-radius: 5px;
    width: 14%;
}

#loginbtn{
     padding: 5px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}

